<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    {{>navbar}}
    <section>
        <h1>Hey There!</h1>
        <h2>User Authentication and Authorization System Project</h2>
        <p>This is the Home Page for my project on User authorization and authentication using Nodejs, Express, MongoDB,
            HTML, CSS and JavaScript.</p>
        <div class="links">
            <a href="/register">Get Started</a>
            <a href="https://github.com/amankumar0304/authorization" class="code">View Github</a>
        </div>
    </section>
</body>

</html>
