<header>
    <a href="/" class="logo">Sample <span style="color: #ffae42;">A</span>uth.</a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login" style="text-decoration: underline;">Log In</a></li>
        <li><a href="/register" class="signup">Sign Up</a></li>
    </ul>
</header>